<div class="is-medium">
  <div class="columns is-flex-mobile">
    <div class="column is-3 is-4-mobile">
      <img
        style="height: 200px; padding-top: 1em"
        src="/assets/profile//tin.jpg"
        class="image piccenter"
      />
    </div>
    <div class="column is-9 is-8-mobile">
      <h5 class="title is-5 firacode">
        <a href="https://theethawat.dev" class="has-text-primary">
          > Theethawat Savastham (Tin)</a
        >
      </h5>
      <h4 class="subtitle is-6 kanitlight">ธีร์ธวัช สวาสดิ์ธรรม (ติน)</h4>
      <p class="content">
        จากนักศึกษาบ้าๆ คนนึง ตอนนี้กลายเป็นคนบ้าๆ ที่พัฒนาเว็บไซต์และระบบต่างๆ
        มากมาย ผู้ก่อตั้งและสมาชิกเพียงคนเดียวของ The Duck Creator
        และยังเป็นนักศึกษาวิศวกรรมคอมพิวเตอร์ ระดับปริญญาโทอีกด้วย
      </p>
    </div>
  </div>
  <hr />
</div>
