<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
    <link href="https://fonts.googleapis.com/css?family=Kanit:300,400&display=swap" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link rel="icon" href="/assets/web logo.png">
</head>

<body>
    {% include navigation.html %}
    {{content}}
    <br><br>
    {% include footer.html%}
    <script src="https://kit.fontawesome.com/942c2b45e2.js"></script>
</body>


</html>