<!DOCTYPE html>
<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ page.title }}</title>
    <meta property="description" content="{{page.subtitle}}" />
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:type" content="text/html" />
    <meta property="og:locale" content="th_TH" />
    <meta property="og:description" content="{{page.subtitle}}" />
    {% if page.ogimage %}
    <meta property="og:image" content="{{page.ogimage}}" />
    {% else %}
    <meta
      property="og:image"
      content="https://www.theduckcreator.in.th/assets/Logo2021/Banner2021.png"
    />
    {% endif %}
    <link
      rel="icon"
      href="https://www.theduckcreator.in.th/assets/Logo2021/TDC-ICON.png"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Kanit:300,400&display=swap"
      rel="stylesheet"
    />
    <link href="/assets/css/main.css" rel="stylesheet" />
    <link rel="icon" href="/assets/Logo2021/TDC-ICON.png" />

    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v4.0&appId=389712018153235&autoLogAppEvents=1"
    ></script>
    <style>
      h1,
      h2,
      h3,
      h4,
      blockquote {
        font-family: "kanit", sans-serif;
      }

      h1 {
        font-size: 32px;
      }

      h2 {
        font-size: 28px;
        font-weight: bold;
        padding-top: 0.4em;
        padding-bottom: 0.4em;
      }

      img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        max-height: 512px;
        width: auto;
      }

      p {
        margin-bottom: 1em;
      }
    </style>
  </head>

  <body>
    {% include navigation.html %}
    <section class="hero tdc-hero-pink is-bold">
      <div class="hero-body">
        <div class="container">
          <h1
            class="subtitle has-text-light is-3 kanit acenter tdc-remove-margin-bt"
          >
            {{ page.title }}
            <br />
          </h1>
        </div>
      </div>
    </section>
    <br />
    <div class="container tdc-mobile-90">
      <div class="columns">
        <div class="column is-three-quarters">
          <!-- <h3 class="title kanit is-3">{{page.subtitle}}
                </h3> -->

          <div class="is-medium">{{ content }}</div>
        </div>
        <div class="column">
          <h3 class="title is-5 kanit">ติดตามเราได้ที่</h3>
          <div
            class="fb-page"
            data-href="https://www.facebook.com/theduckcreatorthailand"
            data-tabs="timeline"
            data-width=""
            data-height=""
            data-small-header="false"
            data-adapt-container-width="true"
            data-hide-cover="false"
            data-show-facepile="true"
          ></div>
        </div>
      </div>
    </div>

    <br /><br />
    {% include footer.html%}
    <script src="https://kit.fontawesome.com/942c2b45e2.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-104473772-5"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-104473772-5");
    </script>
  </body>
</html>
